html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.footer-box {
  margin-top: auto;
}

.wishlist-container {
  display: flex;
  flex-wrap: wrap;
}

.icon {
  color: red;
}

.center {
  text-align: center;
}

.wish-empty {
  width: 100vw;
  height: 50vh;

  display: grid;
  place-items: center;
}

.basket {
  color: rgb(186, 183, 183);
}
