.content {
  min-height: 70vh;
}

.card-disp-box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.prod-list-vertical {
  display: flex;
  flex-direction: column;
}

.item-card {
  height: fit-content;
  width: 25rem;
  margin-bottom: 2rem;
  display: flex;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.card-imgbox {
  height: 100%;
  width: 50%;
}

.card-img-cart {
  height: 100%;
  width: 100%;
}

.card-texts {
  padding: 1rem;
}

.price-box {
  font-size: 1rem;
}

.m-btm {
  display: block;
}

.qty-box {
  margin-top: 1.3rem;
  display: flex;
  align-items: center;
}

.qty-bar {
  width: 10%;
}

.btn-cart {
  /* width: 80%; */
  margin: 1rem 0rem;
}

.red-clr {
  background-color: #fca5a5;
  border: 1px solid #b91c1c;
  color: #7f1d1d;
}

.pur {
  background-color: #e0f2fe;
  color: black;
  border: 1px solid #1d4ed8;
}

.check {
  background-color: #a7f3d0;
  color: #064e3b;
  border: 1px solid #0d9488;
  margin: 1rem auto;
}

.order-summary {
  height: fit-content;
  width: 25rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 1rem;
}

.item-cost-detail {
  display: flex;
  justify-content: space-between;
}

.close {
  margin-bottom: -1rem;
}

.empty-cart {
  color: rgb(206, 192, 192);
}

.center {
  text-align: center;
}

.icon-container {
  width: 50vw;
  height: 50vh;

  display: grid;
  place-items: center;
}
